:root{
    --accent-color: #03A9F4;
    --dark-gray: #626262;
    --light-gray: #B4AD9E;
    --bg-color: #E5E5E5;
}

nav a{
    color: var(--accent-color);
}
h3,
p{
    color: var(--dark-gray);
}h2{
    color: var(--light-gray);
}
body{
    color: var(--bg-color);
}